# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Generated executables
exc_idle_communication_template
exc_iox_data_request
exc_iox_data_request2
exc_outbound_data_transfer
exc_custom_messaging
exc_mime_inbound_sample
exc_mime_outbound_sample

# General executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Protobuf compiler files
/protoc/bin
protobuf/protoc/include/google/protobuf/compiler

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment
.env
venv/